/* sizing for all images */
.image {
    width: 200px;
    height: 200px;
}

/* main profile image */
#dane {
    float:left;
    margin: 10px;
}

/* Change the color of the name text */
#dmg {
    color: white;
}

/* These are the images for the portfolio */
#hangman {
    float: left;
    margin: 20px;
    position: relative;
    z-index: 0;
}

#rpg {
    float: left;
    margin: 20px;
    position: relative;
    z-index: 0;
}

#trivia {
    margin: 20px;
    position: relative;
    right: 470px;
    top: 250px;
    z-index: 0;
}

#widgit {
    margin: 20px;
    position: relative;
    left: 250px;
    z-index: 0;
}

#rps {
    margin: 20px;
    position: relative;
    top: 250px;
    right: 240px;
    z-index: 0;
}
/* end images for portfolio*/

/* code for the box that contains my name on every page */
.name {
    background: #4aaaa5;
    color: white;
    width: 350px;
    height: 35px;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    position: relative;
    top: 45px;
    left: 180px;
}

/* This is the section to manage the portfolio boxes */
.box {
    background: #4aaaa5;
    color: white;
    width: 200px;
    height: 35px;
    text-align: center;
    padding-top: 15px;
    z-index: 1;
}

#box1 {
    position: relative;
    bottom: 338px;
    left: 20px;
}

#box2 {
    position: relative;
    bottom: 409px;
    left: 260px;
}

#box3 {
    position: relative;
    bottom: 238px;
    left: 20px;
}

#box4 {
    position: relative;
    bottom: 309px;
    left: 270px;
}

#box5 {
    position: relative;
    bottom: 130px;
    left: 24px;
}
/* end section to manage the portfolio boxes*/

/* Style the links */
.links {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    position: relative; 
    right: 190px;
    bottom: 0;
    float: right;
    color: red;
}

a:link {
    text-decoration: none;
}

a:hover {
    background: #4aaaa5;
}
/* end link styling */

p {
    color: #777777;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

h3 {
    font-size: 20px;
    color: white;
}

h1 {
    font-size: 30px;
    color: #4aaaa5;
}

header {
    background: #ffffff;
    border-bottom: #cccccc 5px solid;
    font-family: 'Georgia', Times, Times New Roman, serif;
    height: 120px;
}

body {
    background-image: url("../../circles-light/circles-light.png");
}

footer {
    background-color: #666666;
    text-align: center;
    height: 30px;
    padding-top: 30px;
    padding-bottom: 20px;
    position: sticky;
    bottom: 0px;
    z-index: 1;
}

.main-content {
    width: 960px;
    background: #ffffff;
    border: #dddddd solid 10px;
    /* position: relative;
    left: 180px; */
    margin: 0 auto;
    z-index: -2;
    height: 960px;
    text-align: center;
}
/* end general styling for all the pages */

/* Had to make the main-content box bigger for the portfolio */
#portfolio {
    height: 850px;
}

/* Begin contact form CSS */
/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */  
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
    background-color: #45a049;
}

/* Add a background color and some padding around the form */
.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}
/* end contact form CSS */

/* add break points with media queries */

@media only screen and (max-width: 980px) {
    header {
      position: static;
    }

    .links {
        position: relative;
        right: 70px;
    }

    .main-content {
        /* background-color: red; */
        width: 300px;
        height: 880px;
    }

    .name {
       position: relative;
       left: 300px; 
       width: 300px;
    }

    #dmg {
        font-size: 25px;
    }

    #dane {
        position: relative;
        margin-left: 50px;
        
    }

    #main-text {
        float: right;
    }
/* start portfolio images */
    #portfolio {
        height: 1250px;
    }

    #box1 {
        top: -1034px;
        left: 19px;
    }

    #box2 {
        top: -848px;
        left: 20px;
    }

    #trivia {
        position: relative;
        left: -37px;
        top: -21px;
    }

    #box3 {
        position: relative;
        left: 20px;
        top: -700px;
    }

    #widgit {
        position: relative;
        top: -40px;
        left: -30px;
    }

    #box4 {
        position: relative;
        left: 20px;
        top: -505px;
    }

    #rps {
        position:relative;
        top: -60px;
        left: -30px;
    }

    #box5 {
        position: relative;
        left: 20px;
        top: -300px;
    }
  }

  @media only screen and (max-width: 768px) {
    header {
        position: static;
      }

    .links {
        position: static;
        float: right;
    }

    .main-content {
        width: 710px;
        height: 500px;
    }

    .name {
        position: relative;
        left: 0px;
     }

     #main-text {
         float: left;
     }
     /* begin portfolio section */

     #box1 {
         top: -550px;
     }

     #box2 {
         top: -600px;
         left: 260px;
     }

     #trivia {
         position: relative;
         top: 5px;
         left: -110px;
     }

     #box3 {
         top: -410px;
         /* left: -110px; */
     }

     #widgit {
         position: relative;
         top: 5px;
         left: -120px;
     }

     #box4 {
         top: -460px;
         left: 257px;
     }

     #rps {
         position: relative;
         top: 10px;
         left: -240px;
     }

     #box5 {
         top: -263px;
         left: 15px;
     }
  }

  @media only screen and (max-width: 640px) {
    header {
        position: static;
      }

    .links {
        position: static;
        float: right;
    }

    .main-content {
        background-color: yellow;
    }
  }